<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter1.png</string>
            <key>letterKey</key>
            <string>a</string>
            <key>points</key>
            <array>
                
                <string>31 107</string>
                <string>75 8</string>
                <string>121 63</string>
                <string>35 107</string>
                <string>86 163</string>
                
                <string>98 115</string>
                <string>137 59</string>
                <string>18 59</string>
                

            </array>
            <key>strokes</key> 
            <array>
                <!-- #1 --->
                <dict>
                    <key>start</key>
                    <string>129 68</string>
                    <key>end</key>
                    <string>36 115</string>
                    <key>startRotation</key>
                    <string>120</string>
                    <key>endRotation</key>
                    <string>180</string>
                    <key>stroke</key>
                    <!-- Array contains - End point, then next two between previous and end -->
                    <array>
                        <string>115 104</string>
                        <string>98 118</string> 
                        <string>36 115</string>
                        
                    </array>
                </dict>
                <!-- #2 --->
                <dict>
                    <key>start</key>
                    <string>106 124</string>
                    <key>end</key>
                    <string>34 79</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>270</string>
                    <key>stroke</key>
                    <array>
                        <string>118 153</string>
                        <string>105 171</string>
                        <string>83 172</string>
                        
                        <string>56 162</string>
                        <string>43 148</string>
                        <string>34 79</string>
                        
                       
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>35 65</string>
                    <key>end</key>
                    <string>126 64</string>
                    <key>startRotation</key>
                    <string>270</string>
                    <key>endRotation</key>
                    <string>90</string>
                    <key>stroke</key>
                    <array>
                        <string>37 28</string>
                        <string>52 14</string>
                        <string>81 12</string>
                        
                        <string>113 18</string>
                        <string>126 38</string>
                        <string>126 64</string>
                        
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>22 65</string>
                    <key>end</key>
                    <string>140 65</string>
                    <key>startRotation</key>
                    <string>0</string>
                    <key>endRotation</key>
                    <string>0</string>
                    <key>stroke</key>
                    <array>
                        <string>58 65</string>
                        <string>107 65</string>
                        <string>140 65</string>
                        
                    </array>
                </dict>

            </array>            
        </dict>
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter2.png</string>
            <key>letterKey</key>
            <string>b</string>
            <key>points</key>
            <array>
                <string>100 163</string>
                <string>110 62</string>
                <string>134 62</string>
                <string>34 62</string>
                <string>67 105</string>
                <string>111 105</string>
                <string>67 105</string>
                <string>37 137</string>
                <string>71 157</string>
                <string>100 147</string>
                
            </array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>41 67</string>
                    <key>end</key>
                    <string>105 111</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>0</string>
                    <key>stroke</key>
                    <array>
                        <string>54 93</string>
                        <string>77 112</string>
                        <string>105 111</string>
                        
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>106 112</string>
                    <key>end</key>
                    <string>106 155</string>
                    <key>startRotation</key>
                    <string>180</string>
                    <key>endRotation</key>
                    <string>340</string>
                    <key>stroke</key>
                    <array>
                        <string>77 113</string>
                        <string>56 123</string>
                        <string>43 141</string>

                        <string>63 161</string>
                        <string>84 163</string>
                        <string>106 155</string>

                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>34 65</string>
                    <key>end</key>
                    <string>134 66</string>
                    <key>startRotation</key>
                    <string>0</string>
                    <key>endRotation</key>
                    <string>0</string>
                    <key>stroke</key>
                    <array>
                        <string>66 65</string>
                        <string>101 67</string>
                        <string>134 66</string>
                        
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>112 69</string>
                    <key>end</key>
                    <string>112 170</string>
                    <key>startRotation</key>
                    <string>90</string>
                    <key>endRotation</key>
                    <string>90</string>
                    <key>stroke</key>
                    <array>
                        <string>112 141</string>
                        <string>112 102</string>
                        <string>112 170</string>
                        
                    </array>
                </dict>
                

            </array>            
            
        </dict>
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter3.png</string>
            <key>letterKey</key>
            <string>c</string>
            <key>points</key>
            <array>
                <string>65 95</string>
                <string>130 95</string>
                <string>145 74</string>
                <string>126 174</string>
                <string>65 110</string>
                <string>144 99</string>	
                <string>65 95</string>
            </array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>31 65</string>
                    <key>end</key>
                    <string>135 65</string>
                    <key>startRotation</key>
                    <string>0</string>
                    <key>endRotation</key>
                    <string>0</string>
                    <key>stroke</key>
                    <array>
                        <string>62 65</string>
                        <string>97 65</string>
                        <string>135 65</string>
                        
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>113 65</string>
                    <key>end</key>
                    <string>113 161</string>
                    <key>startRotation</key>
                    <string>90</string>
                    <key>endRotation</key>
                    <string>90</string>
                    <key>stroke</key>
                    <array>
                        <string>113 100</string>
                        <string>113 137</string>
                        <string>113 161</string>
                        
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>104 113</string>
                    <key>end</key>
                    <string>109 165</string>
                    <key>startRotation</key>
                    <string>180</string>
                    <key>endRotation</key>
                    <string>0</string>
                    <key>stroke</key>
                    <array>
                        <string>96 113</string>
                        <string>73 113</string>
                        <string>32 113</string>

                        <string>30 104</string>
                        <string>44 95</string>
                        <string>51 106</string>
                        
                        
                        <string>54 105</string>
                        <string>48 130</string>
                        <string>58 157</string>
                        
                        <string>71 171</string>
                        <string>93 173</string>
                        <string>109 165</string>
                        
                
                    </array>
                </dict>
                
            </array>            
            
        </dict>
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter3.png</string>
            <key>letterKey</key>
            <string>d</string>
            <key>points</key>
            <array>
                <string>65 95</string>
                <string>130 95</string>
                <string>145 74</string>
                <string>126 174</string>
                <string>65 110</string>
                <string>144 99</string>	
                <string>65 95</string>
            </array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>29 65</string>
                    <key>end</key>
                    <string>135 65</string>
                    <key>startRotation</key>
                    <string>0</string>
                    <key>endRotation</key>
                    <string>0</string>
                    <key>stroke</key>
                    <array>
                        <string>67 65</string>
                        <string>106 65</string>
                        <string>135 65</string>
                        
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>114 65</string>
                    <key>end</key>
                    <string>113 116</string>
                    <key>startRotation</key>
                    <string>90</string>
                    <key>endRotation</key>
                    <string>90</string>
                    <key>stroke</key>
                    <array>
                        <string>113 87</string>
                        <string>113 104</string>
                        <string>113 116</string>
                        
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>105 115</string>
                    <key>end</key>
                    <string>115 159</string>
                    <key>startRotation</key>
                    <string>180</string>
                    <key>endRotation</key>
                    <string>330</string>
                    <key>stroke</key>
                    <array>
                        <string>86 116</string>
                        <string>58 116</string>
                        <string>28 116</string>
                        
                        <string>38 103</string>
                        <string>58 89</string>
                        <string>51 120</string>
                        
                        <string>54 152</string>
                        <string>57 175</string>
                        <string>115 159</string>
                        
                    </array>
                </dict>
            </array>            
            
        </dict>

        
        
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter3.png</string>
            <key>letterKey</key>
            <string>e</string>
            <key>points</key>
            <array>
                <string>65 95</string>
                <string>130 95</string>
                <string>145 74</string>
                <string>126 174</string>
                <string>65 110</string>
                <string>144 99</string>	
                <string>65 95</string>
            </array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>29 65</string>
                    <key>end</key>
                    <string>72 105</string>
                    <key>startRotation</key>
                    <string>0</string>
                    <key>endRotation</key>
                    <string>0</string>
                    <key>stroke</key>
                    <array>
                        <string>65 63</string>
                        <string>106 73</string>
                        <string>122 109</string>

                        <string>110 136</string>
                        <string>82 149</string>
                        <string>48 146</string>

                        <string>30 104</string>
                        <string>61 78</string>
                        <string>90 89</string>
                        
                        <string>95 121</string>
                        <string>69 127</string>
                        <string>72 105</string>
                        
                    </array>
                </dict>
              
            </array>            
            
        </dict>
        <!--

        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter3.png</string>
            <key>letterKey</key>
            <string>f</string>
            <key>points</key>
            <array>
                <string>65 95</string>
                <string>130 95</string>
                <string>145 74</string>
                <string>126 174</string>
                <string>65 110</string>
                <string>144 99</string>	
                <string>65 95</string>
            </array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>80 13</string>
                        <string>34 53</string>
                        <string>152 21</string>
                        
                        <string>126 68</string>
                        <string>111 23</string>
                        <string>124 47</string>
                        
                        <string>36 112</string>
                        <string>106 104</string>
                        <string>75 117</string>
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>91 175</string>
                        <string>44 148</string>
                        <string>74 170</string>
                        
                        <string>103 120</string>
                        <string>106 168</string>
                        <string>115 142</string>
                        
                        <string>142 64</string>
                        <string>115 97</string>
                        <string>127 77</string>
                        
                        <string>23 64</string>
                        <string>105 65</string>
                        <string>55 64</string>
                        
                    </array>
                </dict>
            </array>            
            
        </dict>
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter3.png</string>
            <key>letterKey</key>
            <string>g</string>
            <key>points</key>
            <array>
                <string>65 95</string>
                <string>130 95</string>
                <string>145 74</string>
                <string>126 174</string>
                <string>65 110</string>
                <string>144 99</string>	
                <string>65 95</string>
            </array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>80 13</string>
                        <string>34 53</string>
                        <string>152 21</string>
                        
                        <string>126 68</string>
                        <string>111 23</string>
                        <string>124 47</string>
                        
                        <string>36 112</string>
                        <string>106 104</string>
                        <string>75 117</string>
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>91 175</string>
                        <string>44 148</string>
                        <string>74 170</string>
                        
                        <string>103 120</string>
                        <string>106 168</string>
                        <string>115 142</string>
                        
                        <string>142 64</string>
                        <string>115 97</string>
                        <string>127 77</string>
                        
                        <string>23 64</string>
                        <string>105 65</string>
                        <string>55 64</string>
                        
                    </array>
                </dict>
            </array>            
            
        </dict>
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter3.png</string>
            <key>letterKey</key>
            <string>h</string>
            <key>points</key>
            <array>
                <string>65 95</string>
                <string>130 95</string>
                <string>145 74</string>
                <string>126 174</string>
                <string>65 110</string>
                <string>144 99</string>		</array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>80 13</string>
                        <string>34 53</string>
                        <string>152 21</string>
                        
                        <string>126 68</string>
                        <string>111 23</string>
                        <string>124 47</string>
                        
                        <string>36 112</string>
                        <string>106 104</string>
                        <string>75 117</string>
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>91 175</string>
                        <string>44 148</string>
                        <string>74 170</string>
                        
                        <string>103 120</string>
                        <string>106 168</string>
                        <string>115 142</string>
                        
                        <string>142 64</string>
                        <string>115 97</string>
                        <string>127 77</string>
                        
                        <string>23 64</string>
                        <string>105 65</string>
                        <string>55 64</string>
                        
                    </array>
                </dict>
            </array>            
            
        </dict>
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter3.png</string>
            <key>letterKey</key>
            <string>i</string>
            <key>points</key>
            <array>
                <string>65 95</string>
                <string>130 95</string>
                <string>145 74</string>
                <string>126 174</string>
                <string>65 110</string>
                <string>144 99</string>	
                <string>65 95</string>
            </array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>80 13</string>
                        <string>34 53</string>
                        <string>152 21</string>
                        
                        <string>126 68</string>
                        <string>111 23</string>
                        <string>124 47</string>
                        
                        <string>36 112</string>
                        <string>106 104</string>
                        <string>75 117</string>
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>91 175</string>
                        <string>44 148</string>
                        <string>74 170</string>
                        
                        <string>103 120</string>
                        <string>106 168</string>
                        <string>115 142</string>
                        
                        <string>142 64</string>
                        <string>115 97</string>
                        <string>127 77</string>
                        
                        <string>23 64</string>
                        <string>105 65</string>
                        <string>55 64</string>
                        
                    </array>
                </dict>
            </array>            
            
        </dict>
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter3.png</string>
            <key>letterKey</key>
            <string>j</string>
            <key>points</key>
            <array>
                <string>65 95</string>
                <string>130 95</string>
                <string>145 74</string>
                <string>126 174</string>
                <string>65 110</string>
                <string>144 99</string>	
                <string>65 95</string>
            </array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>80 13</string>
                        <string>34 53</string>
                        <string>152 21</string>
                        
                        <string>126 68</string>
                        <string>111 23</string>
                        <string>124 47</string>
                        
                        <string>36 112</string>
                        <string>106 104</string>
                        <string>75 117</string>
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>

                    <key>stroke</key>
                    <array>
                        <string>91 175</string>
                        <string>44 148</string>
                        <string>74 170</string>
                        
                        <string>103 120</string>
                        <string>106 168</string>
                        <string>115 142</string>
                        
                        <string>142 64</string>
                        <string>115 97</string>
                        <string>127 77</string>
                        
                        <string>23 64</string>
                        <string>105 65</string>
                        <string>55 64</string>
                        
                    </array>
                </dict>
            </array>            
            
        </dict>
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter3.png</string>
            <key>letterKey</key>
            <string>k</string>
            <key>points</key>
            <array>
                <string>65 95</string>
                <string>130 95</string>
                <string>145 74</string>
                <string>126 174</string>
                <string>65 110</string>
                <string>144 99</string>	
                <string>65 95</string>
            </array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>

                    <key>stroke</key>
                    <array>
                        <string>80 13</string>
                        <string>34 53</string>
                        <string>152 21</string>
                        
                        <string>126 68</string>
                        <string>111 23</string>
                        <string>124 47</string>
                        
                        <string>36 112</string>
                        <string>106 104</string>
                        <string>75 117</string>
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>91 175</string>
                        <string>44 148</string>
                        <string>74 170</string>
                        
                        <string>103 120</string>
                        <string>106 168</string>
                        <string>115 142</string>
                        
                        <string>142 64</string>
                        <string>115 97</string>
                        <string>127 77</string>
                        
                        <string>23 64</string>
                        <string>105 65</string>
                        <string>55 64</string>
                        
                    </array>
                </dict>
            </array>            
            
        </dict>
        <dict>
            <key>soundKey</key>
            <string></string>
            <key>imageKey</key>
            <string>letter3.png</string>
            <key>letterKey</key>
            <string>l</string>
            <key>points</key>
            <array>
                <string>65 95</string>
                <string>130 95</string>
                <string>145 74</string>
                <string>126 174</string>
                <string>65 110</string>
                <string>144 99</string>	
                <string>65 95</string>
            </array>
            <key>strokes</key> 
            <array>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>80 13</string>
                        <string>34 53</string>
                        <string>152 21</string>
                        
                        <string>126 68</string>
                        <string>111 23</string>
                        <string>124 47</string>
                        
                        <string>36 112</string>
                        <string>106 104</string>
                        <string>75 117</string>
                    </array>
                </dict>
                <dict>
                    <key>start</key>
                    <string>36 112</string>
                    <key>end</key>
                    <string>23 64</string>
                    <key>startRotation</key>
                    <string>60</string>
                    <key>endRotation</key>
                    <string>60</string>
                    <key>stroke</key>
                    <array>
                        <string>91 175</string>
                        <string>44 148</string>
                        <string>74 170</string>
                        
                        <string>103 120</string>
                        <string>106 168</string>
                        <string>115 142</string>
                        
                        <string>142 64</string>
                        <string>115 97</string>
                        <string>127 77</string>
                        
                        <string>23 64</string>
                        <string>105 65</string>
                        <string>55 64</string>
                        
                    </array>
                </dict>
            </array>            
            
        </dict>
 -->
    </array>
</plist>
